body{
    background-color: #fefae0;
    font-family: 'Sour Gummy';
}

.image{
    display: inline;
    object-fit: contain;
}

.registration-card{

    display: inline-block;
    background-color: rgb(235, 214, 187);
    padding: 15pt;
    width: 350px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
}

label {
    font-weight: bold;
    font-size: 16pt;
    display: inline-block;
    margin: 10pt 0 5pt;
}


input[type="text"],
input[type="number"],
input[type="date"],
select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    box-sizing: border-box;
    
}

select {
    appearance: none;
}
.upload-btn {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}
.navigation-btn {
    background-color: #fefae0;
    color: black;
    border: none;
    padding: 8px 12px;
    margin: 8px 0;
    border-radius: 15px;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    width: 20%;
}

.navigation-btn:hover {
    background-color: rgb(190, 179, 153)
}

#next-btn{
    float: right;
    color: white;
    background-color: rgb(146, 135, 121);
}

